---
import { Image } from "astro:assets";
import plombier from "../assets/plombier.jpg";
---

<section class="text-gray-600 body-font" id="about">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <Image
        src={plombier}
        class="w-full rounded-2xl"
        alt="photo de rénovation d'une maison"
      />
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        Qui somme nous ?
      </h1>
      <p class="mb-8 leading-relaxed">
        Experts en construction et en rénovation, nous avons des solutions pour
        vos projets immobiliers en vue d'améliorer l'aspect extérieur et
        intérieur de vos bâtiments, l'efficacité et la durabilité de vos
        constructions. Nous vous proposerons des idées pour optimiser le design,
        ainsi que le budget de vos projets. Nous avons des idées pour TOUT. <br
        />
        <br />Nous nous déplaçons pour réaliser des dépannages/travaux
        d'urgenges en plomberie générale, électricité, déblaiement et
        nettoyage,élagage
      </p>
    </div>
  </div>
</section>
