<section
  class="text-gray-600 body-font relative w-full border border-t-0 border-x-0 border-darktextcolor"
  id="contact"
>
  <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
    <div
      class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative"
    >
      <iframe
        width="100%"
        height="100%"
        class="absolute inset-0"
        frameborder="0"
        title="map"
        marginheight="0"
        marginwidth="0"
        scrolling="no"
        src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=%C4%B0zmir+(My%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
        style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
      <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
        <div class="lg:w-1/2 px-6">
          <h2
            class="title-font font-semibold text-gray-900 tracking-widest text-xs"
          >
            ADDRESSE
          </h2>
          <p class="mt-1">103 lotissement Ploërmel 97300 Cayenne</p>
        </div>
        <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
          <h2
            class="title-font font-semibold text-gray-900 tracking-widest text-xs"
          >
            E-MAIL
          </h2>
          <a class="text-indigo-500 leading-relaxed"
            >renovationplus973@gmail.com</a
          >
          <h2
            class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4"
          >
            Téléphone
          </h2>
          <p class="leading-relaxed">0694 12 24 41</p>
        </div>
      </div>
    </div>
    <div
      class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0"
    >
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
        Nous contacter
      </h2>
      <p class="leading-relaxed mb-5 text-gray-600">
        Avez-vous des questions ou souhaitez-vous en savoir plus sur nos
        services ? N'hésitez pas à nous contacter. Nous sommes là pour vous
        aider et répondre à toutes vos demandes.
      </p>
      <form action="#" method="post" class="bg-white p-6 rounded-lg shadow-md">
      </form>
      <div class="relative mb-4">
        <label for="name" class="leading-7 text-sm text-gray-600">Nom</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Votre nom"
          class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-np200 ease-in-out"
        />
      </div>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">E-mail</label
        >
        <input
          type="email"
          id="email"
          placeholder="Votre adresse mail"
          name="email"
          class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4">
        <label for="message" class="leading-7 text-sm text-gray-600"
          >Message</label
        >
        <textarea
          id="message"
          placeholder="Description de votre message"
          name="message"
          class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
        ></textarea>
      </div>

      <button
        class="inline-flex items-center justify-center px-5 py-3 py-3text-base font-medium text-center text-white bg-accentSg rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 border border-secondary"
        >Envoyer</button
      >
      <p class="text-xs text-gray-500 mt-3">
        Nous nous engageons à vous répondre dans les plus brefs délais.
      </p>
    </div>
  </div>
</section>
