<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-5xl text-2xl font-bold title-font mb-4 text-gray-900">
        <span class="text-secondary">Transformez </span>Votre Espace <br />
        avec <span class="text-primary">Expertise et Qualité</span>
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Des services de rénovation, plomberie, peinture, et nettoyage haute
        pression, <br />
        conçus pour vous offrir un espace à la hauteur de vos rêves.
      </p>
    </div>
    <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
      <a
        href="#"
        class="inline-flex items-center justify-center px-5 py-3 py-3text-base font-medium text-center text-white bg-accentPr rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 border border-primary"
        >Contactez-Nous</a
      >
      <a
        href="#"
        class="inline-flex items-center justify-center px-5 py-3 py-3text-base font-medium text-center text-white bg-accentSg rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 border border-secondary"
      >
        Obtenez Votre Devis Gratuit
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
