---
import { Image } from "astro:assets";
import maçon from "../assets/macon.jpg";
import plomberie from "../assets/plomberie.jpeg";
import renovation from "../assets/renovation.jpg";
---

<section class="text-gray-600 body-font" id="services">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
      >
        Découvrez tous nos services de rénovation
      </h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
        rénovation de peinture extérieure, rénovation de peinture intérieure,
        peinture après dégât des eaux, peinture de maison neuve peinture
        maconnerie, plomberie
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div
            class="w-full h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
          >
            <Image
              src={renovation}
              class="md:w-1/2h-5"
              alt="photo de rénovation d'une maison"
            />
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
            Rénovation
          </h2>
          <p class="leading-relaxed text-base">
            Nous offrons des services de rénovation complets pour transformer et
            moderniser vos espaces. Des travaux après sinistre aux rénovations
            de peintures intérieures et extérieures.
          </p>
        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div
            class="w-full h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
          >
            <Image
              src={plomberie}
              class="w-full"
              alt="photo de rénovation d'une maison"
            />
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
            Plomberie
          </h2>
          <p class="leading-relaxed text-base">
            Nous offrons des services de plomberie complets, allant de
            l'installation à la réparation de systèmes de plomberie. Que ce soit
            pour des projets résidentiels ou commerciaux, nous assurons des
            solutions durables et efficaces.
          </p>
        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div
            class="w-full h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
          >
            <Image
              src={maçon}
              class="w-full"
              alt="photo de rénovation d'une maison"
            />
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
            Maçonnerie
          </h2>
          <p class="leading-relaxed text-base">
            Nos experts en maçonnerie offrent une gamme complète de services
            pour vos projets de construction et de rénovation. Que ce soit pour
            des travaux de crépi, d'enduit ou de remise en état après sinistre.
          </p>
        </div>
      </div>

      <!-- <button
      class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
      >Button</button
    > -->
    </div>
  </div>
</section>
